---
type Props = {imgSrcs: string[], galleryId?: string}
const { imgSrcs } = Astro.props;
---
<djpiplup-gallery>
  <img class="selected" src={imgSrcs[0]}/>
  <div class="image-picker">
    {
      imgSrcs.map((src, i) => (
        <img src={src} class={i === 0 ? "matches-selected" : ''}/>
      ))
    }
  </div>
</djpiplup-gallery>
<script>
  class DJPiplupGallery extends HTMLElement {
    connectedCallback() {
      const mainImage = this.querySelector<HTMLImageElement>('.selected')!;
      const handleImageClick = (e: Event) => {
        const srcImg = e.target as HTMLImageElement;
        mainImage.src = srcImg.src;
        for(const el of this.getElementsByClassName('matches-selected')) {
          el.classList.remove('matches-selected');
        }
        srcImg.classList.add('matches-selected');
      }
      this.querySelectorAll<HTMLImageElement>('.image-picker > img').forEach(img => {
        img.addEventListener('click', handleImageClick);
      });
    }
  }
  customElements.define('djpiplup-gallery', DJPiplupGallery);
</script>
<style>
  djpiplup-gallery {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  img {
    aspect-ratio: 3:4;
  }
  img.selected {
    width: 100%;
  }
  .image-picker {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-top: 1px solid currentColor;
    padding: 0.5rem 0.1rem;
    margin-top: 0.75rem;
    overflow-x: auto;
    height: 
  }
  .image-picker > img {
    width: 5rem;
    cursor: pointer;
  }
  img.matches-selected {
    outline: 2px solid var(--selection-color);
  }
</style>