---
import { SITE_TITLE, HIDE_LOGO } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav>
    <h2><a href="/" class={HIDE_LOGO ? 'hide-logo' : ''} inert={HIDE_LOGO || null}>{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/figures">Figures</HeaderLink>
    </div>
    <SocialLinks/>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    box-shadow: 0 2px 8px #0002
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 > a,
  h2 > a.active {
    text-decoration: none;
  }

	h2 > a.hide-logo {
		color: transparent;
	}

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
		color: currentColor;
    border-bottom: 4px solid transparent;
    text-decoration: none;
		font-family: var(--logo-font);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
