---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";

const { hideLogo, hideLinks } = Astro.props;
---

<header>
  <nav>
    <h1 class="header-title"><a href="/" class={hideLogo ? 'hide-content' : ''} inert={hideLogo || null} title={SITE_TITLE}><img class='header-pfp' src='/favicon.png' alt="DJPiplup's Profile Picture, a painted round yellow bird holding a knife" />&nbsp;<span id="site-title">{SITE_TITLE}</span></a></h1>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/figures">Figures</HeaderLink>
    </div>
    <SocialLinks hide={hideLinks} alignEnd/>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
		width: 100vw;
    display: flex;
    justify-content: center;
		box-sizing: border-box;
  }
  .header-pfp {
    display: inline;
    height: 1.5em;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    aspect-ratio: 1/1;
  }
  .header-title {
    margin: 0;
    font-size: 1em;
    text-align: start;
  }

  .internal-links {
    text-align: center;
  }

  :global(header > nav > .social-links) {
    text-align: end;
  }

  .header-title > a,
  .header-title > a.active {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

	.hide-content {
		opacity: 0;
	}

  nav {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: 4rem;
    width: 100%;
  }
  nav a {
    padding: 1em 0.5em;
		color: currentColor;
    border-bottom: 4px solid transparent;
    text-decoration: none;
		font-family: var(--logo-font);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  @media screen and (width <= 550px) {
    nav {
      grid-template-columns: 1em 1fr 1em;
    }
    .header-title {
      align-self: self-start;
    }
    #site-title {
      display: none !important;
    }
    :global(header > nav > .social-links) {
      display: none !important;
    }
  }
</style>
