---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";

const { hideLogo, hideLinks } = Astro.props;
---

<header>
  <nav>
    <h1 class="header-title"><a href="/" class={hideLogo ? 'hide-content' : ''} inert={hideLogo || null}><img class='header-pfp' src='/favicon.png' alt="DJPiplup's Profile Picture, a painted round yellow bird holding a knife" />&nbsp;{SITE_TITLE}</a></h1>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/figures">Figures</HeaderLink>
    </div>
    <SocialLinks hide={hideLinks} alignEnd/>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
		width: 100vw;
		box-sizing: border-box;
  }
  .header-pfp {
    display: inline;
    height: 1em;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    aspect-ratio: 1/1;
  }
  .header-title {
    margin: 0;
    font-size: 1em;
    text-align: start;
  }

  .internal-links {
    text-align: center;
  }

  .social-links {
    text-align: end;
  }

  .header-title > a,
  .header-title > a.active {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

	.hide-content {
		opacity: 0;
	}

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div, h1 {
      width: 33%;
    }
  }
  nav a {
    padding: 1em 0.5em;
		color: currentColor;
    border-bottom: 4px solid transparent;
    text-decoration: none;
		font-family: var(--logo-font);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
