---
import IconLink from "./IconLink.astro";

const {hide} = Astro.props;
---

<div class="social-links">
  <IconLink href="https://bsky.djpiplup.dev" icon="bluesky" hide={hide} screenReader="Visit DJPiplup on Bluesky"/>
  <IconLink href="https://github.com/dj-piplup" icon="github" hide={hide} screenReader="Visit DJPiplup on GitHub"/>
</div>
<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
</style>
